In [2]:
import pandas as pd

# Police Precinct

In [3]:
police_df = pd.read_csv('./data/police_p.csv')
print(police_df.iloc[0])

the_geom      MULTIPOLYGON (((-74.04387761573958 40.69018767...
Precinct                                                      1
Shape_Leng                                         79979.409545
Shape_Area                                        47182160.4145
Name: 0, dtype: object

In [4]:
police_df.columns

Index(['the_geom', 'Precinct', 'Shape_Leng', 'Shape_Area'], dtype='object')

# Schools

In [5]:
school_df = pd.read_csv('./data/schools.csv')
school_df.head()

,fiscal_year,system_code,location_code,location_name,BEDS,Managed_by_name,location_type_description,Location_Category_Description,Grades_text,Grades_final_text,...,Administrative_District_Name,community_school_sup_name,Tier_3_Support_Location_Name,Tier_3_Support_Leader_Name,Tier_2_Support_Location_Name,HighSchool_Network_Location_Code,HighSchool_Network_Name,HighSchool_Network_Superintendent,Community_district 1,Police_precinct
0,2020,15K001,K001,P.S. 001 The Bergen,331500010001,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,COMMUNITY SCHOOL DISTRICT 15,"SKOP, ANITA",NYCDOE Borough Office - Brooklyn North,NaN,School Support Team 5- Brooklyn North,NaN,NaN,NaN,307.0,72.0
1,2020,17K002,K002,Parkside Preparatory Academy,331700010002,DOE,General Academic,Junior High-Intermediate-Middle,"06,07,08,SE","06,07,08",...,COMMUNITY SCHOOL DISTRICT 17,"ELLIS, CLARENCE",NYCDOE Borough Office - Brooklyn South,Mauriciere de Govia,School Support Team 2- Brooklyn South,NaN,NaN,NaN,309.0,71.0
2,2020,13K003,K003,P.S. 003 The Bedford Village,331300010003,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,COMMUNITY SCHOOL DISTRICT 13,"SAMUELS, KAMAR",NYCDOE Borough Office - Brooklyn North,NaN,School Support Team 3- Brooklyn North,NaN,NaN,NaN,303.0,79.0
3,2020,75K004,K004,P.S. K004,307500013004,DOE,Special Education,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05,06,07,SE",...,CITYWIDE SPECIAL EDUCATION,"LOUISSAINT, KETLER",D75 CITYWIDE BCO,Tillman Roberto,Children First Network 752,NaN,NaN,NaN,305.0,75.0
4,2020,16K005,K005,P.S. 005 Dr. Ronald McNair,331600010005,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",...,COMMUNITY SCHOOL DISTRICT 16,"MARTIN, YOLANDA",NYCDOE Borough Office - Brooklyn North,NaN,School Support Team 4- Brooklyn North,NaN,NaN,NaN,303.0,81.0

In [6]:
school_df.columns

Index(['fiscal_year', 'system_code', 'location_code', 'location_name', 'BEDS',
       'Managed_by_name', 'location_type_description',
       'Location_Category_Description', 'Grades_text', 'Grades_final_text',
       'open_date', 'Status_descriptions', 'Primary_building_code',
       'primary_address_line_1', 'State_code', 'X_COORDINATE', 'Y_COORDINATE',
       'LONGITUDE', 'LATITUDE', 'Community_district', 'Council-district',
       'Census_tract', 'Borough_block_lot', 'NTA', 'NTA_Name',
       'Principal_Name', 'Principal_title', 'Principal_phone_number',
       'fax_number', 'Geographical_District_code',
       'Administrative_District_Code', 'Administrative_District_Name',
       'community_school_sup_name', 'Tier_3_Support_Location_Name',
       'Tier_3_Support_Leader_Name', 'Tier_2_Support_Location_Name',
       'HighSchool_Network_Location_Code', 'HighSchool_Network_Name',
       'HighSchool_Network_Superintendent', 'Community_district 1',
       'Police_precinct'],
      dtype='object')

In [7]:
# Filter out rows with missing Police_precinct values
filtered_school_df = school_df.dropna(subset=['Police_precinct'])

# Group by Police_precinct and count
police_precinct_counts = filtered_school_df['Police_precinct'].value_counts().to_dict()

# Display the dictionary
print(police_precinct_counts)

{40.0: 72, 75.0: 71, 42.0: 69, 44.0: 63, 43.0: 58, 73.0: 56, 48.0: 51, 79.0: 46, 105.0: 42, 67.0: 41, 46.0: 39, 47.0: 38, 114.0: 37, 83.0: 37, 49.0: 36, 23.0: 36, 52.0: 36, 71.0: 35, 120.0: 34, 34.0: 34, 107.0: 34, 113.0: 34, 45.0: 34, 109.0: 33, 81.0: 33, 41.0: 33, 77.0: 32, 72.0: 31, 60.0: 30, 90.0: 29, 122.0: 28, 69.0: 28, 50.0: 28, 25.0: 28, 20.0: 28, 70.0: 27, 7.0: 27, 18.0: 26, 61.0: 26, 84.0: 26, 13.0: 26, 110.0: 25, 1.0: 25, 32.0: 25, 62.0: 24, 111.0: 24, 103.0: 24, 28.0: 23, 104.0: 23, 106.0: 23, 88.0: 23, 108.0: 22, 102.0: 22, 66.0: 21, 19.0: 20, 115.0: 20, 101.0: 20, 33.0: 19, 9.0: 19, 26.0: 19, 94.0: 18, 76.0: 17, 68.0: 17, 78.0: 16, 112.0: 16, 10.0: 15, 100.0: 15, 5.0: 15, 123.0: 15, 24.0: 15, 30.0: 11, 63.0: 11, 6.0: 10, 121.0: 7, 14.0: 6, 17.0: 4}

In [8]:
# Add new column using map function
police_df['schools_in_precinct'] = police_df['Precinct'].map(police_precinct_counts)

# Convert to integer type since counts should be whole numbers
police_df = police_df.dropna(subset=['schools_in_precinct'])
police_df['schools_in_precinct'] = police_df['schools_in_precinct'].astype(int)

In [9]:
police_df.head()

,the_geom,Precinct,Shape_Leng,Shape_Area,schools_in_precinct
0,MULTIPOLYGON (((-74.04387761573958 40.69018767...,1,79979.409545,4.718216e+07,25
1,MULTIPOLYGON (((-73.98863862848773 40.72293372...,5,18676.124259,1.808880e+07,15
2,MULTIPOLYGON (((-73.99968392160729 40.73855224...,6,27182.610113,2.213193e+07,10
3,MULTIPOLYGON (((-73.94131742369488 40.80771334...,28,17098.987088,1.528954e+07,23
4,MULTIPOLYGON (((-73.97345324119578 40.71896288...,7,17301.492549,1.836333e+07,27

# Crime

In [10]:
complaints_data = pd.read_csv('./data/NYPD_Complaint_Data_Historic.csv')

/var/folders/v5/xm8593vd6j9b4glbzfdh4pmw0000gn/T/ipykernel_79775/3014401679.py:1: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints_data = pd.read_csv('./data/NYPD_Complaint_Data_Historic.csv')

In [11]:
# Convert ADDR_PCT_CD to integer, replacing any non-numeric values with NaN
complaints_data['ADDR_PCT_CD'] = pd.to_numeric(complaints_data['ADDR_PCT_CD'], errors='coerce')

# Drop any NaN values
complaints_df = complaints_data.dropna(subset=['ADDR_PCT_CD'])

# Convert to integer type
complaints_df['ADDR_PCT_CD'] = complaints_df['ADDR_PCT_CD'].astype(int)

# Calculate count of crimes per precinct
crime_count_per_precinct = complaints_df['ADDR_PCT_CD'].value_counts()

# Calculate total number of complaints
total_complaints = len(complaints_df)

# Calculate crime rate per precinct
crime_rate_per_precinct = (crime_count_per_precinct / total_complaints) * 100

# Sort by precinct number
crime_rate_per_precinct = crime_rate_per_precinct.sort_index()

# Display results
print("Crime Rate per Precinct:")
for precinct, rate in crime_rate_per_precinct.items():
    print(f"Precinct {precinct}: {rate:.2f}%")

Crime Rate per Precinct:
Precinct 1: 1.26%
Precinct 5: 0.89%
Precinct 6: 1.07%
Precinct 7: 0.85%
Precinct 9: 1.18%
Precinct 10: 0.84%
Precinct 13: 1.47%
Precinct 14: 2.26%
Precinct 17: 0.69%
Precinct 18: 1.59%
Precinct 19: 1.37%
Precinct 20: 0.83%
Precinct 22: 0.08%
Precinct 23: 1.30%
Precinct 24: 1.00%
Precinct 25: 1.36%
Precinct 26: 0.67%
Precinct 28: 1.07%
Precinct 30: 0.93%
Precinct 32: 1.36%
Precinct 33: 0.90%
Precinct 34: 1.10%
Precinct 40: 2.41%
Precinct 41: 1.35%
Precinct 42: 1.62%
Precinct 43: 2.56%
Precinct 44: 2.48%
Precinct 45: 1.26%
Precinct 46: 2.10%
Precinct 47: 1.91%
Precinct 48: 1.63%
Precinct 49: 1.35%
Precinct 50: 0.92%
Precinct 52: 2.09%
Precinct 60: 1.26%
Precinct 61: 1.22%
Precinct 62: 1.20%
Precinct 63: 1.03%
Precinct 66: 0.95%
Precinct 67: 1.89%
Precinct 68: 1.00%
Precinct 69: 0.96%
Precinct 70: 1.57%
Precinct 71: 1.38%
Precinct 72: 1.09%
Precinct 73: 2.04%
Precinct 75: 3.21%
Precinct 76: 0.55%
Precinct 77: 1.42%
Precinct 78: 0.73%
Precinct 79: 1.59%
Precinct 81: 1.21%
Precinct 83: 1.37%
Precinct 84: 1.04%
Precinct 88: 0.88%
Precinct 90: 1.31%
Precinct 94: 0.71%
Precinct 100: 0.53%
Precinct 101: 0.87%
Precinct 102: 1.23%
Precinct 103: 1.56%
Precinct 104: 1.43%
Precinct 105: 1.50%
Precinct 106: 1.23%
Precinct 107: 1.05%
Precinct 108: 1.06%
Precinct 109: 1.65%
Precinct 110: 1.39%
Precinct 111: 0.63%
Precinct 112: 0.72%
Precinct 113: 1.68%
Precinct 114: 1.85%
Precinct 115: 1.63%
Precinct 120: 1.94%
Precinct 121: 0.67%
Precinct 122: 1.41%
Precinct 123: 0.62%

/var/folders/v5/xm8593vd6j9b4glbzfdh4pmw0000gn/T/ipykernel_79775/2444422673.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complaints_df['ADDR_PCT_CD'] = complaints_df['ADDR_PCT_CD'].astype(int)

In [12]:
# Create a mapping dictionary of crime rates per precinct
crime_rate_per_precinct_mapping = crime_rate_per_precinct.to_dict()

# Add new column using map function
police_df['crime_rate'] = police_df['Precinct'].map(crime_rate_per_precinct_mapping)

In [13]:
police_df.head()

,the_geom,Precinct,Shape_Leng,Shape_Area,schools_in_precinct,crime_rate
0,MULTIPOLYGON (((-74.04387761573958 40.69018767...,1,79979.409545,4.718216e+07,25,1.258965
1,MULTIPOLYGON (((-73.98863862848773 40.72293372...,5,18676.124259,1.808880e+07,15,0.886579
2,MULTIPOLYGON (((-73.99968392160729 40.73855224...,6,27182.610113,2.213193e+07,10,1.073149
3,MULTIPOLYGON (((-73.94131742369488 40.80771334...,28,17098.987088,1.528954e+07,23,1.072816
4,MULTIPOLYGON (((-73.97345324119578 40.71896288...,7,17301.492549,1.836333e+07,27,0.853511

In [14]:
police_df.to_csv('./data/final-precinct-dataset.csv')

In [15]:
police_df.columns

Index(['the_geom', 'Precinct', 'Shape_Leng', 'Shape_Area',
       'schools_in_precinct', 'crime_rate'],
      dtype='object')